<ion-view title="クーポン" class="card-bg">

  <ion-content has-header="true" padding="true">

      <div class="list card">
          <div class="item">
              <h2>{{offer.name}}</h2>
              <p>Expires on {{offer.enddate | date:'EEEE, MMMM d y'}}</p>
          </div>
          <div class="item item-body">
              <img class="full-image" src="img/qrcode.svg">
              <p>クーポンを店舗で提示してください。店舗一覧からお近くの店舗を選んでください。</p>
              <button class="button button-block button-light" ui-sref="app.store-locator">
                  近くの店舗を探す
              </button>

          </div>
      </div>

  </ion-content>

</ion-view>
